$moderate-blue: hsl(238, 40%, 52%);
$light-grayish-blue: hsl(239, 57%, 85%);
$grayish-blue: hsl(211, 10%, 45%);
$very-light-gray: hsl(228, 33%, 97%);

.score {
  display: flex;
  flex-direction: column;
  background-color: $very-light-gray;
  width: 30px;
  height: 90px;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: 12px;
  top: 20px;
  & span {
    color: $light-grayish-blue;
    font-weight: 700;
    &:hover {
      color: $moderate-blue;
    }
  }
  &-plus {
    padding-bottom: 1em;
    padding-top: 5px;
    cursor: pointer;
  }
  &-minus {
    padding-top: 0.7em;
    cursor: pointer;
  }
  &-total {
    color: $moderate-blue !important;
  }
}

@media (max-width: 560px) {
  .score {
    flex-direction: row;
    justify-content: space-around;
    width: 80px;
    height: 30px;
    top: 194px;
    &-plus {
      padding: 0;
    }
    &-minus {
      padding: 0;
    }
  }
}
